my-app/node_modules/
my-app/build/
my-app/coverage/
my-app/.pnp/
my-app/src/videos/*.mp4
my-app/jsconfig.json

server/node_modules/
server/build/
server/coverage/
server/.pnp/
server/files/

offersendler.sql
linkDbDiagram.drawio
.idea/
