my-app/node_modules/
my-app/build/
my-app/coverage/
my-app/.pnp/
my-app/src/videos/*.mp4
my-app/src/Pics/photos/

server/node_modules/
server/build/
server/coverage/
server/.pnp/

offersendler.sql
linkDbDiagram.drawio
.idea/
