@-webkit-keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@-webkit-keyframes fromUpToDown {
    0% {
        top: -2000px;
    }
    100% {
        top: 0;
    }
}
@keyframes fromUpToDown {
    0% {
        top: -2000px;
    }
    100% {
        top: 0;
    }
}
@-webkit-keyframes fromUpToDown1 {
    0% {
        top: 2000px;
    }
    100% {
        top: 0;
    }
}

@keyframes fromUpToDown1 {
    0% {
        top: 2000px;
    }
    100% {
        top: 0;
    }
}

@-webkit-keyframes fromLeftToRight {
    0% {
        left: -5000px;
    }
    100% {
        left: 0;
    }
}

@keyframes fromLeftToRight {
    0% {
        left: -5000px;
    }
    100% {
        left: 0;
    }
}

@-webkit-keyframes fromRightToLeft {
    0% {
        left: 5000px;
    }
    100% {
        left: 0;
    }
}

@keyframes fromRightToLeft {
    0% {
        left: 5000px;
    }
    100% {
        left: 0;
    }
}

@-webkit-keyframes fromRight {
    0% {
        left: 5000px;
    }
    100% {
        left: 0;
    }
}

@keyframes fromRight {
    0% {
        left: 5000px;
    }
    100% {
        left: 0;
    }
}

@-webkit-keyframes fromLeft {
    0% {
        left: 5000px;
    }
    100% {
        left: 0;
    }
}

@keyframes fromLeft {
    0% {
        left: 5000px;
    }
    100% {
        left: 0;
    }
}

.sendOfferContainer{
    display: flex;
    position: relative;
    width: 100%;
    overflow-y: scroll;
    grid-column: 1/6;
    grid-row: 1/6;
    --main-bg-color: #fff;
    --main-text-color: #444;
    min-height: 100%;
    margin: 0;
    background-color: rgba(255,255,255,0.6);
    color: var(--main-text-color);
    font-family: sans-serif;

}

.form {
    --input-height: 38px;
    padding-right: 20px;
    padding-left: 20px;
    width:100%;
    grid-column: 1/6;
margin-bottom: 20px;


}
.header{
    text-align: center;
}
.footer{
    text-align: center;
}
.submit{
    text-align: center;
}
.form header h1 {
    margin: 0;
    text-align: center;
}

.form_fields {
    margin: 10px 0 20px;

}

.form_field {
    display: flex;
    min-height: var(--input-height);

    margin:5px;
}
.form_fields_user{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.form_fields_user>input{
    margin:5px;
    width:95%;
    height:2.5vh;
    border:solid 1px;
    border-radius: 5px;

}
.form_fields_user>textarea{
    margin:5px;
    width:95%;

    border:solid 1px;
    border-radius: 5px;
}
.form_fields_user>textarea:focus{
    border:solid cornflowerblue 1px;
    font-size:1.1em;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
    padding-left: 10px;
}

.form_fields_user>input:focus{
    border:solid cornflowerblue 1px;
    font-size:1.1em;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
    padding-left: 10px;
}


.form_field:not(.radio):not(.checkbox) {
    flex-flow: row wrap;
}

.form_field > label {
    flex: 1 1 100%;
    height: var(--input-height);
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    justify-content: flex-start;
    padding-right: 10px;
}

.form_field:not(.radio):not(.checkbox) > label {
    order: -1;
}

:not(fieldset) > .form-field + .form-field {
    margin-top: 3px;
}



input[type="radio"],
input[type="checkbox"] {
    align-self: center;
    width: 18px;
    height: 18px;
    margin: 0 10px 0 0;
}

textarea {
    padding: 5px 10px;
    height: auto;
    min-height: calc(3 * var(--input-height));
    resize: vertical;
}

select {
    background: var(--main-bg-color)  no-repeat right center;
    background-origin: content-box;
    -webkit-appearance: none;
}



fieldset {
    border: 2px solid #98beff;
    margin: 10px 0 0 0;
    width: 100%;
    box-sizing: border-box;
}

fieldset legend {
    padding: 0 5px;
}

:focus {
    outline: none;
}

::placeholder {
    font-style: italic;
    color: #bbb;
}

.form footer {
    display: flex;
}

#form-button {
    background-color: #1167ff;
    color: #fff;
    font-size: inherit;
    font-family: inherit;
    height: var(--input-height);
    border: 2px solid #1167ff;
    width: 100%;
    max-width: 300px;
    margin: auto;
}

input:required + label::after, textarea:required + label::after {
    content: "*";
    color: red;
    font-size: 1.5em;
}

::-webkit-clear-button,
::-webkit-inner-spin-button {
    display: none;
}

::-webkit-calendar-picker-indicator {
    height: 34px;
    width: 34px;
    padding: 0;
    margin: 0 -10px 0 0;
    opacity: 1;
    color: transparent;
    background: transparent url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDM0IDM0IiB3aWR0aD0iMzQiIGhlaWdodD0iMzQiPgogICAgPHBhdGggZD0iTTUsNyBtMywwIGgxOCBhIDMgMyAwIDAgMSAzIDMgdjE2IGEgMyAzIDAgMCAxIC0zIDMgaC0xOCBhIDMgMyAwIDAgMSAtMyAtMyB2LTE2IGEgMyAzIDAgMCAxIDMgLTMgeiBtMiwwIHYtMSBhIDEuNSAxLjUgMCAxIDEgMyAwIHYxIGg4IHYtMSBhIDEuNSAxLjUgMCAxIDEgMyAwIHYxCm0yLjUsNiB2MyBoLTUgdi0zIGg1IG0tNywwIHYzIGgtNSB2LTMgaDUgbS03LDAgdjMgaC01IHYtMyBoNSBtMTQsNSB2MyBoLTUgdi0zIGg1IG0tNywwIHYzIGgtNSB2LTMgaDUgbS03LDAgdjMgaC01IHYtMyBoNSBtMTQsNSB2MyBoLTUgdi0zIGg1IG0tNywwIHYzIGgtNSB2LTMgaDUgbS03LDAgdjMgaC01IHYtMyBoNQoiIGZpbGw9IiNiYmIiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPgo8L3N2Zz4=") no-repeat center;
}

a {
    color: #1167ff;
}

@media (min-width: 553px) {
    .form_field:not(.radio):not(.checkbox) {
        flex-flow: row nowrap;
    }

    :not(fieldset) > .form_field > label {
        flex: 0 0 180px;
        justify-content: flex-end;
        margin-right: 10px;
    }

    fieldset {
        width: calc(100% - 160px);
        margin: 0 0 0 auto;
    }

    .form_field.checkbox {
        margin-left: 160px;
    }

    :not(fieldset) > .form_field.checkbox > label {
        flex: 1 1 auto;
        justify-content: flex-start;
    }

    form {
        max-width: 700px;
        margin: auto;
    }

    form footer {
        justify-content: flex-start;
        margin-left: 160px;
    }

    button {
        margin: 0;
    }


}