.personalCabinetContainer{
    display: flex;

    flex-direction: column;
    width: 100%;
    overflow: scroll;

    --main-bg-color: #fff;
    --main-text-color: #444;
    min-height: 100%;
    margin: 0;
    background-color: rgba(255,255,255,0.6);
    color: var(--main-text-color);
    font-family: sans-serif;

}
.header{
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: #E9EDF2;
    border-bottom: 1px solid #14469B
}
.navPCab{
    display: flex;
    position: absolute;
    top: 100px;
    flex-direction: column;
    background-color: #E9EDF2;
    width:10%;
    height: 100%;
}
.navPCab ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.navPCab a{
    display: block;
    text-decoration: none;
    outline: none;
    transition: .4s ease-in-out;

}
.topmenu{
    backface-visibility: hidden;

}
.topmenu > li {
    display: inline-block;
    position: relative;

}
.topmenu > li > a {
    color: #e9edf2;


}
.down:after {

    margin-left: 8px;

}
.topmenu li a:hover {

    background-color: #14469B;
    color:yellow;
    transform: translateY(-1px);
}
.submenu {
    background: white;
    border: 2px solid #003559;
    position: absolute;
    left: 105px;
    top:0;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    width: 150px;


}
.topmenu > li:hover .submenu{
    visibility: visible;
    opacity: 1;

}
.submenu li a {
    color: black;
    font-size: 13px;
    line-height: 36px;
    padding: 0 25px;

}
.submenu li:hover {
    background-color: #14469B;
    transform: translateY(-1px);
}
.upHeader{
    display: flex;
    justify-content: center;


}
.avaContainer{

    position: absolute;

    width: 5vw;
    height: 10vh;

    transform: translate(88vw, -8vh);
}

.navPCab>a{
    text-decoration: none;
    color: #e9edf2;

}
.navPCab>a:hover{
    color:yellow;
    transform: scale(1.1);

}
.HelloMessageName{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}
.ava {
    display:flex;
    flex-direction: column;
}
.ava>img{
    width: 4vw;
    height: 4vh;
}

.form {
    --input-height: 38px;
    padding-right: 20px;
    padding-left: 20px;

    grid-column: 1/6;


}
.header{
    text-align: center;
}
.footer{
    text-align: center;
}
.submit{
    text-align: center;
}
.form header h1 {
    margin: 0;
    text-align: center;
}

.form_fields {
    margin: 10px 0 20px;

}

.form_field {
    display: flex;
    min-height: var(--input-height);
    margin:5px;
}

.form_field:not(.radio):not(.checkbox) {
    flex-flow: row wrap;
}

.form_field > label {
    flex: 1 1 100%;
    height: var(--input-height);
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    justify-content: flex-start;
    padding-right: 10px;
}

.form_field:not(.radio):not(.checkbox) > label {
    order: -1;
}

:not(fieldset) > .form-field + .form-field {
    margin-top: 3px;
}



input[type="radio"],
input[type="checkbox"] {
    align-self: center;
    width: 18px;
    height: 18px;
    margin: 0 10px 0 0;
}

textarea {
    padding: 5px 10px;
    height: auto;
    min-height: calc(3 * var(--input-height));
    resize: vertical;
}

select {
    background: var(--main-bg-color)  no-repeat right center;
    background-origin: content-box;
    -webkit-appearance: none;
}



fieldset {
    border: 2px solid #98beff;
    margin: 10px 0 0 0;
    width: 100%;
    box-sizing: border-box;
}

fieldset legend {
    padding: 0 5px;
}

:focus {
    outline: none;
}

::placeholder {
    font-style: italic;
    color: #bbb;
}

.form footer {
    display: flex;
}

#form-button {
    background-color: #1167ff;
    color: #fff;
    font-size: inherit;
    font-family: inherit;
    height: var(--input-height);
    border: 2px solid #1167ff;
    width: 100%;
    max-width: 300px;
    margin: auto;
}

input:required + label::after, textarea:required + label::after {
    content: "*";
    color: red;
    font-size: 1.5em;
}

::-webkit-clear-button,
::-webkit-inner-spin-button {
    display: none;
}

::-webkit-calendar-picker-indicator {
    height: 34px;
    width: 34px;
    padding: 0;
    margin: 0 -10px 0 0;
    opacity: 1;
    color: transparent;
    background: transparent url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDM0IDM0IiB3aWR0aD0iMzQiIGhlaWdodD0iMzQiPgogICAgPHBhdGggZD0iTTUsNyBtMywwIGgxOCBhIDMgMyAwIDAgMSAzIDMgdjE2IGEgMyAzIDAgMCAxIC0zIDMgaC0xOCBhIDMgMyAwIDAgMSAtMyAtMyB2LTE2IGEgMyAzIDAgMCAxIDMgLTMgeiBtMiwwIHYtMSBhIDEuNSAxLjUgMCAxIDEgMyAwIHYxIGg4IHYtMSBhIDEuNSAxLjUgMCAxIDEgMyAwIHYxCm0yLjUsNiB2MyBoLTUgdi0zIGg1IG0tNywwIHYzIGgtNSB2LTMgaDUgbS03LDAgdjMgaC01IHYtMyBoNSBtMTQsNSB2MyBoLTUgdi0zIGg1IG0tNywwIHYzIGgtNSB2LTMgaDUgbS03LDAgdjMgaC01IHYtMyBoNSBtMTQsNSB2MyBoLTUgdi0zIGg1IG0tNywwIHYzIGgtNSB2LTMgaDUgbS03LDAgdjMgaC01IHYtMyBoNQoiIGZpbGw9IiNiYmIiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPgo8L3N2Zz4=") no-repeat center;
}
.offers{
    color: white;
    width:100%;
    height: 100%;
}
.linksPC{
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid 1px gray;
    padding-left: 10px;
    width: 90%;
    min-height: 45px;
    align-items: center;
    position: relative;
}
.linksPC:active{
    transform: translateY(2px);

}
.linksPC a{
    color: #29569b;
}

.countNoBrowser{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: -10px;
    right: 20px;
    background-color: red;
    border-radius: 50%;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    font-size: x-small;
    z-index: 3;
}


@media (max-width: 553px) {
    .form_field:not(.radio):not(.checkbox) {
        flex-flow: row nowrap;
    }

    :not(fieldset) > .form_field > label {
        flex: 0 0 180px;
        justify-content: flex-end;
        margin-right: 10px;
    }

    fieldset {
        width: calc(100% - 160px);
        margin: 0 0 0 auto;
    }

    .form_field.checkbox {
        margin-left: 160px;
    }

    :not(fieldset) > .form_field.checkbox > label {
        flex: 1 1 auto;
        justify-content: flex-start;
    }

    form {
        max-width: 700px;
        margin: auto;
    }

    form footer {
        justify-content: flex-start;
        margin-left: 160px;
    }

    button {
        margin: 0;
    }
    .navPCab{
        grid-column: 1/5;
        grid-row: 2/3;

        display: flex;
        flex-direction: column;
        background-color: whitesmoke;
    }
    .navPCab a{
        display: flex;
        justify-content: center;
        width: 100%;
        text-decoration: none;
        color: black;
        font-size: 1.5em;
        padding: 10px;
    }
    .navPCab>a:hover{
        color:yellow;
    }


}