@-webkit-keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@-webkit-keyframes fromUpToDown {
    0% {
        top: -2000px;
    }
    100% {
        top: 0;
    }
}
@keyframes fromUpToDown {
    0% {
        top: -2000px;
    }
    100% {
        top: 0;
    }
}
@-webkit-keyframes fromUpToDown1 {
    0% {
        top: 2000px;
    }
    100% {
        top: 0;
    }
}

@keyframes fromUpToDown1 {
    0% {
        top: 2000px;
    }
    100% {
        top: 0;
    }
}

@-webkit-keyframes fromLeftToRight {
    0% {
        left: -5000px;
    }
    100% {
        left: 0;
    }
}

@keyframes fromLeftToRight {
    0% {
        left: -5000px;
    }
    100% {
        left: 0;
    }
}

@-webkit-keyframes fromRightToLeft {
    0% {
        left: 5000px;
    }
    100% {
        left: 0;
    }
}

@keyframes fromRightToLeft {
    0% {
        left: 5000px;
    }
    100% {
        left: 0;
    }
}

@-webkit-keyframes fromRight {
    0% {
        left: 5000px;
    }
    100% {
        left: 0;
    }
}

@keyframes fromRight {
    0% {
        left: 5000px;
    }
    100% {
        left: 0;
    }
}

@-webkit-keyframes fromLeft {
    0% {
        left: 5000px;
    }
    100% {
        left: 0;
    }
}

@keyframes fromLeft {
    0% {
        left: 5000px;
    }
    100% {
        left: 0;
    }
}


.contentContainer{
    height: 80vh;
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 99%;
    min-height: 98%;
    flex: 1 1 auto;
    position: relative;
    overflow: hidden;


    position: relative;
    overflow: hidden;

}
.colBtnLeft{
    flex-direction: column;
    height: 100%;
    display: flex;
    width: 15vw;
}
.colBtnRight{
    flex-direction: column;
    height: 100%;
    display: flex;
    width: 15vw;
}

.button1 {
    position: relative;
margin: 10px;

    -webkit-animation-name: fromLeftToRight;
    animation-name: fromLeftToRight;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    height: 85%;
    width:95%;
}


.button2 {
    position: relative;
    margin: 10px;

    -webkit-animation-name: fromLeftToRight;
    animation-name: fromLeftToRight;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    height: 85%;
    width:95%;
}

.button3 {
    position: relative;
    margin: 10px;

    -webkit-animation-name: fromLeftToRight;
    animation-name: fromLeftToRight;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    height: 85%;
    width:95%;
}

.button4 {
    position: relative;
    margin: 10px;

    -webkit-animation-name: fromLeftToRight;
    animation-name: fromLeftToRight;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    height: 85%;
    width:95%;
}

.button5 {
    position: relative;
    margin: 10px;

    -webkit-animation-name:  fromRightToLeft ;
    animation-name:  fromRightToLeft ;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    height: 85%;
    width:95%;
}

.button6 {
    position: relative;
    margin: 10px;

    -webkit-animation-name:  fromRightToLeft ;
    animation-name:  fromRightToLeft ;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    height: 85%;
    width:95%;
}


.button7 {
    position: relative;
    margin: 10px;

    -webkit-animation-name:  fromRightToLeft ;
    animation-name:  fromRightToLeft ;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    height: 85%;
    width:95%;
}


.button8 {
    margin: 10px;
    position: relative;

    -webkit-animation-name:  fromRightToLeft ;
    animation-name:  fromRightToLeft ;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    height: 85%;
    width:95%;
}
.btnA {

    /*background: #f3f0f1;*/

    background: rgba(255, 255, 255, 0.7);
    margin-bottom: 25px;
    border-radius: 32px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    position: absolute;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;



}



@media (max-width: 970px) {




    .button1 {
        position: relative;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/ 3;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 1 / 2;
    }

    .button2 {
        position: relative;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/ 3;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        grid-row: 2 / 3;
    }

    .button3 {
        position: relative;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/ 3;
        -ms-grid-row: 4;
        -ms-grid-row-span: 1;
        grid-row: 3 / 4;
    }

    .button4 {
        position: relative;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1/ 3;
        -ms-grid-row: 5;
        -ms-grid-row-span: 1;
        grid-row: 4 / 5;
    }

    .button5 {
        position: relative;
        -ms-grid-column: 4;
        -ms-grid-column-span: 1;
        grid-column: 3/ 5;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 1 / 2;
    }

    .button6 {
        position: relative;
        -ms-grid-column: 4;
        -ms-grid-column-span: 1;
        grid-column: 3/ 5;
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        grid-row: 2 / 3;
    }

    .button7 {
        position: relative;
        -ms-grid-column: 4;
        -ms-grid-column-span: 1;
        grid-column: 3/ 5;
        -ms-grid-row: 4;
        -ms-grid-row-span: 1;
        grid-row: 3 / 4;
    }

    .button8 {
        position: relative;
        -ms-grid-column: 4;
        -ms-grid-column-span: 1;
        grid-column: 3/ 5;
        -ms-grid-row: 5;
        -ms-grid-row-span: 1;
        grid-row: 4 / 5;
    }
}


