.personalCabinetContainer{

    overflow-y: scroll;
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.1em;
    background: linear-gradient(90deg, #ffffff, #d3e1f3);
    width: 90%;
    position: absolute;
    left: 10%;
    height: calc(100vh - 170px);
    min-height: 70%;
    padding: 5px;
    top:100px;
    border: solid 2px white;
    z-index: 2;



}
.personalCabinetContainer{

}


@media screen and (max-width: 600px) {
    .personalCabinetContainer{

        flex-direction: column;
        background-color: whitesmoke;
    
    }
}