

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.tab-true{
  width:300px;
  height: 200px;
  position:absolute;
  top: calc(50% - 100px);
  left: calc(50% - 150px);
  background-color: white;
  -webkit-box-shadow: 12px 13px 13px 3px rgba(34, 60, 80, 0.46);
  -moz-box-shadow: 12px 13px 13px 3px rgba(34, 60, 80, 0.46);
  box-shadow: 12px 13px 13px 3px rgba(34, 60, 80, 0.46);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.close-btn{
  position: absolute;
  top: 0;
  right: 0;
  background-color: darkgray;
  padding: 3px;
  border-radius: 5px;
}
.close-btn:hover{
  cursor: pointer;
}
#tabtru{
  font-size: 1.1em;
  font-weight: bold;
}
.fileElement{
  width: 100px;
  min-height: 130px;
  padding: 3px;
  transition-duration: .3s;
  height: fit-content;
  margin: 5px;
  display: flex;
  font-size: .7em;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  border: 2px solid;
  border-top-right-radius: 13em 4em;
  border-bottom-left-radius: 28em 2em;
  box-shadow: 2px 7px 9px 3px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}
.fileElement:hover{
  transform: translateY(2px);
  cursor: pointer;
  box-shadow: 1px 3px 3px 1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  background-color: rgba(0, 0, 0 ,.4);
}
.fileElement:active{
  transform: translateY(3px);
  box-shadow: 0 0 0 0 rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}
.fileElement:hover .downloadFileFromGeneral{
  display: block;
  background-color: white;
  border-radius: 15px;
  font-size: 1.2em;
  font-weight: bold;
  height: 27%;
  left: 0;

}
.elementContainer{
  display: flex;
  flex-wrap: wrap;
}

.download{
  position: relative;
  top:32px
 
}
.downloadFileFromGeneral{
  position: absolute;
  top:32px;
  display: none;
  transition-duration: .1s;
}
.downloadFileFromGeneral:hover{
  box-shadow: #29569b;
  color: #29569b;
  top: 30px;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}


.imgFile{
  position: absolute;
  bottom: 0;
}
