@keyframes fromUpToDown1 {
    0% {
        position: absolute;
        top: 2000px;
        width: 100%;
    }
    100% {
        position: absolute;
        top: 13vh;
        width: 100%;
    }
}
@keyframes accordion {
    0% {
        height: 0;
        overflow: hidden;
    }
    10% {
        height: 50px;
        overflow: hidden;
    }
    30% {
        height: 150px;
        overflow: hidden;
    }
    50% {
        height: 250px;
        overflow: hidden;
    }
    70% {
        height: 350px;
        overflow: hidden;
    }

    100% {
        height: auto;
        overflow: hidden;
    }
}


.cardOfferContainer1{
    margin-top: 6vh;
    animation: fromUpToDown1;
    animation-duration: .5s;
}

.cardOfferContainer {
    display: flex;
    flex-direction: column;
    grid-column: 1/6;
    grid-row: 1/6;
    background-color: white;

}
.personal:hover{
    transform: translateY(-2px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    cursor:pointer;
}

.date {
    font-size: .9em;
    display: flex;
}

.title {
    display: flex;
    width: 99%;
    justify-content: space-between;
    padding: 5px;
}

.titleHeader {
    font-weight: bold;
}

.btnClose {

    border-radius: 3px;
    margin-right: 3%;
    width: 20px;
    height: 20px;
    background-color: red;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btnClose:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.btnClose:active {
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.btnClose > a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: black;

}

.propertiesOffer {
    display: flex;
    flex-wrap: wrap;
}

/*//////////////header////////*/
.header {
    padding: 20px;
    -webkit-box-shadow: 0px 1px 11px 6px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 1px 11px 6px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 1px 11px 6px rgba(34, 60, 80, 0.2);
    margin-bottom: 10px;

}
.finder {
 overflow: hidden;
    width: 100%;
    padding-bottom: 20px;
    border-radius: 10px;

}

.nameOffer {
    display: flex;

}

.nameOffer > div {
    padding: 10px;
}

.fallen {
    padding-left: 20px;
}

.dropdown {
    width: 120px;
    height: 30px;
    border: 1px solid #999;
    font-size: 10px;
    color: #1c87c9;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 4px 4px #ccc;
    display: grid;
}

select::after {
    content: ">";
    display: block;
    position: absolute;
    transform: rotate(90deg);
}

.navTabs {
    display: flex;
    border-bottom: 1px solid black;
    flex-wrap: wrap;
}

.navTabs > div > a {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

}

.navTabs > div > a:active {
    border-bottom: 2px solid white;

}

.tab.active {
    border-bottom: 2px solid #ffffff;
    box-shadow: 0 -6px 5px rgb(26 109 255 / 25%);
    font-size: 1.02em;
    background-color: #ffffff;
}

.insideOffers {
    display: flex;
    flex-direction: column;
}

.insideOffers > div {
    display: flex;
}

.insideOffers > div > div {
    padding: 10px;
}

.nameWorkGroup {
    display: flex;
}

.ExecutWorker {
    display: flex;
    flex-wrap: wrap;
}

.filesConclusion {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 5px solid #dbd7d7;
    padding: 15px;
    padding-top: 3px;
}
.filesConclusion11 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 5px solid #dbd7d7;
    padding: 15px;
    padding-top: 3px;
}
.ozen{
    width:100%;
    height: 12vh;

}
/* .conclusionFilesAreaFile:hover{
    transform: translateY(-2px);
    
color:#7100f3;

} */
.conclusionFilesArea {
    display: flex;
    width:100%;
    position: relative;
    width: fit-content;
    width: -moz-fit-content;
    height: fit-content;
    border-radius: 10px;
    /*padding: 20px;*/
    flex-wrap: wrap;
    width:100%;
    background: rgb(255,255,255);
    background: linear-gradient(125deg, rgba(255,255,255,1) 0%, rgba(11,107,231,0.23012955182072825) 50%, rgba(255,255,255,0.23012955182072825) 98%);
    -webkit-box-shadow: 0px 1px 11px 6px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 1px 11px 6px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 1px 11px 6px rgba(34, 60, 80, 0.2);
}
.buttonS:host{
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: inherit;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64 px;
    padding: 6px 8px;
    border-radius: 4px;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: #1976d2;
}
.conclusionTextArea {
    display: flex;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 20px;
    flex-wrap: wrap;
    background-color: #c2e8fb38;
    -webkit-box-shadow: 0px 1px 11px 6px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 1px 11px 6px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 1px 11px 6px rgba(34, 60, 80, 0.2);
}
.conclusionTextArea:focus{
    transform: translateY(2px);
    min-height: 30vh;
    color: blue;
    background-color: white;
    border:2px solid blue;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2) inset;
}
.conclusionTextArea[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555;
}
.conclusionAccordion{
    animation: accordion;
    animation-duration: .3s;
}
.NoteCell:focus{
    background-color: antiquewhite;
    color: blue;
    box-shadow: 4px 4px 8px 0px rgb(34 60 80 / 20%) inset;
}
@media (max-width: 553px) {
    .header {
         padding: 0;
        -moz-box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.4);
        box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.4);
        padding-right: 3px;
        padding-left: 5px;

    }


}