.countNoBrowser
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    background-color: red;
    border-radius: 50%;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    font-size: x-small;
    z-index: 3;
}

.header
{
    display: flex;
	margin-bottom: 10px;
	border: 1px solid #c67c00;
	padding: 5px;
	padding-left: 20px;
	border-radius: 5px;
}

.name
{
	display: flex;
	width: 100%;
}

.header:hover
{
	cursor: pointer;
	background-color: darkorange;
}

.header:hover span
{
	color: black;
}

.ava
{
	margin-right: 10px;
    width: 80px;
	height: 80px;
}

.messagePreview
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
	width: 95%;
}

.from
{
    font-weight: bold;
	color: White;
}

.user
{
	display: grid;
	grid-template-columns: auto auto;
	width: 95%;
}

.time
{
	color: White;
	text-align: end;
}

.message
{
	margin-left: 20px;
	border-radius: 3px;
	background-color: #fff;
	width: 95%;
	min-height: 30px;
	padding: 5px 5px;
}

.card
{
    background-color: #102027;
	padding: 10px;
}

.card > div
{
	color: Darkorange;
	animation: cardAnim 1s linear;
}

.card a
{
	color: Cyan;
}

.cardButton
{
	width: 100%;
	height: 30px;
	margin-bottom: 20px !important;
}

@keyframes cardAnim
{
	0%
	{
		opacity: 0;	
	}
	50%
	{
		opacity: 0.5;
	}
	100%
	{
		opacity: 1;
	}
}
