.sendOfferContainer
{
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
    overflow: scroll;
    grid-column: 2/6;
    grid-row: 2/6;
    --main-bg-color: #fff;
    --main-text-color: #444;
    min-height: 100%;
    margin: 0;
    background-color: rgba(255,255,255,0.6);
    color: var(--main-text-color);
    font-family: sans-serif;
}
.sendOfferInnerContainer
{
    width: 80%;
    display: grid;
    grid-column-gap: 10px;
}

.sendOfferSearchBar
{
    width: 100%;
}

.sendOfferList
{
    width: 100%;
    color: black;
}