.sendOfferContainer
{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    grid-column: 2/6;
    grid-row: 2/6;
    --main-bg-color: #fff;
    --main-text-color: #444;
    height: auto;
    margin: 0;
    background-color: rgba(255,255,255,0.6);
    color: var(--main-text-color);
    font-family: sans-serif;
    z-index: 1;
}
.sendOfferInnerContainer
{
    width: 100%;

}

.sendOfferSearchBar
{
    width: 100%;
}

.sendOfferList
{
    width: 100%;
    color: black;
}
